body {
  width: 200px;
  height: 150px;
  padding: 0px;
  background: #b9410a;
  background-image: -webkit-linear-gradient(top, #b9410a, #2bb889);
  background-image: -moz-linear-gradient(top, #b9410a, #2bb889);
  background-image: -ms-linear-gradient(top, #b9410a, #2bb889);
  background-image: -o-linear-gradient(top, #b9410a, #2bb889);
  background-image: linear-gradient(to bottom, #b9410a, #2bb889);
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
}

.header {
  font: "Times New Roman";
  color: #000000;
  text-decoration: underline;
}
.room {
  font: "Roboto";
  color: #110768;
}

.joinSessionBtn {
  background: #3437d9;
  background-image: -webkit-linear-gradient(top, #3437d9, #2bb889);
  background-image: -moz-linear-gradient(top, #3437d9, #2bb889);
  background-image: -ms-linear-gradient(top, #3437d9, #2bb889);
  background-image: -o-linear-gradient(top, #3437d9, #2bb889);
  background-image: linear-gradient(to bottom, #3437d9, #2bb889);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.joinSession:hover {
  background: #001575;
  background-image: -webkit-linear-gradient(top, #001575, #34d97b);
  background-image: -moz-linear-gradient(top, #001575, #34d97b);
  background-image: -ms-linear-gradient(top, #001575, #34d97b);
  background-image: -o-linear-gradient(top, #001575, #34d97b);
  background-image: linear-gradient(to bottom, #001575, #34d97b);
  text-decoration: none;
}

.createSessionBtn {
  background: #344dd9;
  background-image: -webkit-linear-gradient(top, #344dd9, #2cb3b8);
  background-image: -moz-linear-gradient(top, #344dd9, #2cb3b8);
  background-image: -ms-linear-gradient(top, #344dd9, #2cb3b8);
  background-image: -o-linear-gradient(top, #344dd9, #2cb3b8);
  background-image: linear-gradient(to bottom, #344dd9, #2cb3b8);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.createSession:hover {
  background: #4f3cfa;
  background-image: -webkit-linear-gradient(top, #4f3cfa, #34d9d1);
  background-image: -moz-linear-gradient(top, #4f3cfa, #34d9d1);
  background-image: -ms-linear-gradient(top, #4f3cfa, #34d9d1);
  background-image: -o-linear-gradient(top, #4f3cfa, #34d9d1);
  background-image: linear-gradient(to bottom, #4f3cfa, #34d9d1);
  text-decoration: none;
}

#flowBtns {
  margin: 30px 40px;
}

.cancel {
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82c48);
  background-image: -moz-linear-gradient(top, #d93434, #b82c48);
  background-image: -ms-linear-gradient(top, #d93434, #b82c48);
  background-image: -o-linear-gradient(top, #d93434, #b82c48);
  background-image: linear-gradient(to bottom, #d93434, #b82c48);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cancel:hover {
  background: #fa3c55;
  background-image: -webkit-linear-gradient(top, #fa3c55, #d934a5);
  background-image: -moz-linear-gradient(top, #fa3c55, #d934a5);
  background-image: -ms-linear-gradient(top, #fa3c55, #d934a5);
  background-image: -o-linear-gradient(top, #fa3c55, #d934a5);
  background-image: linear-gradient(to bottom, #fa3c55, #d934a5);
  text-decoration: none;
}

#logs {
  width: 200px;
  height: 200px;
}
